/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* Navbar */
.navbar {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #ffcc00; /* Değişiklik yaparak sarı yapalım */
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar span {
    color: #ffcc00; /* Değişiklik yaparak sarı yapalım */
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
button {
    background-color: #28a745; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838; /* Darker Green */
}

/* Forms */
form {
    max-width: 400px;
    margin: 20px auto;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
}

/* Song List */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none;
}

/* Audio Player */
audio {
    width: 100%;
    margin: 20px 0;
}
